//------------------------------------------index------------------------------------------//
#genre_index h4{
    width: 25%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: #DDDDDD;
    text-align: center;
    padding: 1%;
}
#genre_index .name_field{
    margin-top: 5%;
    margin-left: 3%;
}
#genre_index .name_field .genre_label{
    margin-right: 5%;
}
#genre_index .new_button{
    margin-left: 10%;
}
#genre_index table{
    width: 30%;
    margin-left: 3%;
    margin-top: 5%;
}
#genre_index thead{
    background-color: #DDDDDD;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
#genre_index thead th{
    text-align: center;
    padding: 2%;
}
#genre_index .table_genre_body{
   border-bottom: 1px solid grey;
}
#genre_index .table_genre_body td{
    padding: 3%;
}
#genre_index .table_genre_body .edit_button{
    text-align: center;
}
//------------------------------------------edit------------------------------------------//
#genre_edit h5{
    width: 15%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: #DDDDDD;
    text-align: center;
    padding: 1%;
}
#genre_edit .genre_edit_form{
    margin-top: 5%;
    width: 60%;
}
#genre_edit .edit_name_filed input{
    width: 70%;
    border: 1px solid grey;
}
#genre_edit .edit_name_submit input{
    border-radius: 10px;
}
#genre_edit {
    
}
#genre_edit {
    
}
