//-----------------------------------public item_index------------------------------------------//
#item_index .item_index{
    display: flex;
}
#item_index .item_all{
    padding: 3%;
    
}
#item_index .item_body{
    margin-top: 5%;
}
#item_index .item_body b{
   margin-top: 1%;
}
