<div class="container" id="item_index">
  <h5>商品一覧</h5>
  <div class="item_index row">
      <% @items.each do |item|%>
      <div class="item_all col-md-3">
        <div class="item_image ">
          <%= attachment_image_tag item , :image, :fill, 220, 125, format: 'jpeg' %>
        </div>
        <div class="item_body">
          <b>
            <%= item.product %>
          </b></br>
          <b>
            ¥<%= item.price %>
          </b>
        </div>
      </div>
      <% end %>
  </div>
</div>
